<!doctype html>
<html>
    <head>
        <title>ChatClient</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: "inconsolata";
            }

            #client {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            @font-face {
                font-family: "inconsolata";
                src: url("/static/fonts/Inconsolata.otf");
            }
        </style>
    </head>
    <body onload="load();">
        <div id="client"></div>
        <script src="/static/bin/Client.js"></script>
        <script>
            var load = function() {
                var Client = require("Client");
                var client = new Client();
                client.appendTo(document.getElementById("client"));
            };
        </script>
    </body>
</html>
